.wrapper{
    display: flex;
    min-height: 93vh;
}
.search-wrapper{
    width: 15vw;
    min-height: 93vh;
    border-right: 1px solid white;
    padding: 1vh 1vw 0 1vw ;
}
.search-wrapper p{
    margin-top:1vh;
}
.search-wrapper .big_input{
    width: 12vw;
}
.search-wrapper .small_input{
    width: 4vw;
}
.books-wrapper{
    width: 85vw;
}
.books-wrapper-head{
    display: flex;
    border-bottom: 1px solid white;
}
.books-wrapper .sort{
    padding: 2vh 0 1vh 2vw;
    flex-grow: 9;
}
.books-wrapper-head .add-button{
    flex-grow: 1;
    padding: 2vh 0 1vh 0;
}
.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.books-wrapper .book_item_wrapper{
    margin-top: 3vh;
    display: flex;
    border: 2px solid #2a2d93;
}
.books-wrapper .book table{
    width: 28vw;
    border-collapse: collapse;
    border-style: hidden;
}
.books-wrapper .book td{
    border: 1px solid white;
}
.books-wrapper .book{
    font-size: 0.7rem;
    border-right: 1px solid white;
}
.books-wrapper .list-wrapper .text{
    font-size: 1rem;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
}
.books-wrapper .imp{
    color:#64d8ff;
}
.books-wrapper .edit_box{
    border-left: 1px solid white;
    width: 10vw;
}
.books-wrapper .edit_box div{
    border-bottom: 1px solid white;
    cursor: pointer;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
}
.books-wrapper .edit_box div:hover{
    background: white;
    color:#4a4c93;
}
.button_wrapper{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}
.button_wrapper div{
    border: 1px solid white;
}
.button_wrapper .button{
    cursor: pointer;
}
.button_wrapper .button:hover{
    background: white;
    color:#4a4c93;
}
#left_button{
    margin-right: 1vw;
}
#right_button{
    margin-left: 1vw;
}
.back{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(15,15,41,0.51);
    width: 100vw;
    height: 100vh;
}
.back .form{
    padding: 2vh 2vw 2vh 2vw;
    width: 40vw;
    height: 70vh;
    position: absolute;
    top:15vh;
    left: 30vw;
    background: gray;
}
.back .form td{
    padding: 1vh 0 1vh 0;
}
.back .form p{
    margin-bottom: 2vh;
    margin-top: 1vh;
}
.back textarea{
    width: 30vw;
    height: 30vh;
}
.back .form input{
    width: 20vw;
    height: 2vh;
}
.back .submit{
    text-align: right;
    margin-top: 2vh;
}
.back .form .cancel{
    background: red;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
}